In [6]:
import pandas as pd

In [7]:

data = {
    'Name': ['Nguyen Van A', 'Tran Thi B', 'Le Van C', 'Pham Thi D', 'Hoang Van E',
             'Do Thi F', 'Bui Van G', 'Nguyen Thi H', 'Le Van I', 'Tran Van J'],
    'Age': [22, 21, 23, 20, 22, 24, 23, 22, 21, 20],
    'Class': ['Python', 'JavaScript', 'Python', 'JavaScript', 'Python', 
              'JavaScript', 'Python', 'JavaScript', 'Python', 'JavaScript'],
    'Score': [85, 90, 78, 88, 95, 82, 91, 79, 86, 84]
}

khoi tao

In [8]:
df=pd.DataFrame(data)

In [9]:
print("5 hàng đầu tiên:")
print(df.head())

5 hàng đầu tiên:
           Name  Age       Class  Score
0  Nguyen Van A   22      Python     85
1    Tran Thi B   21  JavaScript     90
2      Le Van C   23      Python     78
3    Pham Thi D   20  JavaScript     88
4   Hoang Van E   22      Python     95

In [10]:
print("\nThông tin chung về DataFrame:")
print(df.info())

Thông tin chung về DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Class   10 non-null     object
 3   Score   10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

In [11]:
print("\nKiểu dữ liệu của các cột:")
print(df.dtypes)

Kiểu dữ liệu của các cột:
Name     object
Age       int64
Class    object
Score     int64
dtype: object

truy xuat

In [12]:
age = df['Age']
print("cột age")
print(age)

cột age
0    22
1    21
2    23
3    20
4    22
5    24
6    23
7    22
8    21
9    20
Name: Age, dtype: int64

In [13]:
hs=df[(df['Name']=='Hoang Van E') & (df['Class']=='Python')]
print(hs)

          Name  Age   Class  Score
4  Hoang Van E   22  Python     95

In [14]:

hs2=df[(df['Class']=='JavaScript') & (df['Score']>80)]
print(hs2)

         Name  Age       Class  Score
1  Tran Thi B   21  JavaScript     90
3  Pham Thi D   20  JavaScript     88
5    Do Thi F   24  JavaScript     82
9  Tran Van J   20  JavaScript     84